.createButton {
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.05rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    /* border: 0.1px solid var(--primary); */
    background-color: var(--cyan);
}

.createButton:hover {
    color: var(--white);
    cursor: pointer;
}
