.createForm {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(119, 119, 119, 0.481);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.createForm h2 {
    text-align: center;
}

.createForm form {
    margin-right: 7.5%;
    max-width: 300px;
    min-width: 22.5%;
    border-radius: 1em;
    color: var(--white);
    padding: 3em;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
}

.input-form {
    display: grid;
    gap: 0.25rem;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

.input-form input {
    width: 100%;
}

.input-form select {
    width: 100%;
}

.input-form label {
    font-size: 0.75rem;
}

.createForm form input,
.createForm form select,
.createForm button {
    font-family: inherit;
    border-radius: 0.3em;
    padding: 0.4rem;
    border: none;
    outline: none;
}

.createForm form input:focus,
.createForm form select:focus {
    outline: 3px solid;
    outline-color: var(--secondary);
}

.createForm button {
    margin-top: 0.5rem;
    background-color: var(--secondary);
    color: var(--white);
}

.createForm button:disabled {
    background-color: var(--secondary-disabled);
    color: #000;
}

.startEndForm {
    display: grid;
    grid-template-columns: 45% 45%;
    width: 100%;
    justify-items: stretch;
    gap: 1.15em;
}

.startEndForm label {
    font-size: 0.75em;
}

.startEndForm select {
    width: 100%;
}

@media (max-width: 450px) {
    .createForm form {
        min-width: 75%;
        margin-right: 15%;
    }
}
