.layout {
    min-height: 100vh;
    /* max-width: 100vw; */
    display: grid;
    grid-template-columns: 60px 1fr;
    /* gap: 1em; */
    background-color: var();
    /* overflow: hidden; */
}

@media (max-width: 425px) {
    .layout {
        grid-template-columns: 15% 1fr;
    }
}
