@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&family=Merriweather:wght@400;700;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    font-family: "Karla", sans-serif;
    --primary: #22333b;
    --primary-disabled: #0d1f2d8d;
    --blue: #b2faf2;
    --white: #fdfffc;
    --yellow: #fffde7;
    --red: #b50f43;
    --secondary: #51a8ff;
    --secondary-disabled: #1a3e619f;
    --text: #2f3d4c;
    --cyan: #1dd2a5;
    --cyan-disabled: #00f0b481;

    /* --green: #6bff8c; */
}
